@import '../~normalize.css';
@import './header.css';
@import './intro.css';
@import './form.css';
@import './sections.css';
@import './footer.css';

:root {
  --base-color: #3C3C3B;
  --primary-color: #666699;
  --dark-primary-color: #4D4D73;
  --darker-primary-color: #45456B;
  --light-primary-color: #D0D3E6;
  --button-background-color: #9999FF linear-gradient(var(--light-primary-color), transparent);

  font-size: 10px;
  font-family: 'DIN 2014', 'sans-serif';
  color: var(--base-color);
  scroll-behavior: smooth;
}

::selection {
  color: white;
  background: var(--base-color);
}

:focus {
  outline: none;
  box-shadow: 0 0 1px 2px #9999FF;
  border-radius: .5rem;
}

.wrapper {
  width: 120rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}

@media (max-width: 1900px) {
  .wrapper {
    width: 105rem;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    width: 88rem;
  }
}

@media (max-width: 900px) {
  .wrapper {
    width: 30rem;
  }
}

@media (min-width: 900px) {
  [data-mobile] {
    display: none;
  }
}

@media (max-width: 900px) {
  [data-desktop] {
    display: none;
  }
}

/* fonts */
@font-face {
    font-family: 'DIN 2014';
    src: url('./assets/DIN2014-DemiBold.eot');
    src: local('DIN 2014 DemiBold'), local('DIN2014-DemiBold'),
        url('./assets/DIN2014-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/DIN2014-DemiBold.woff') format('woff'),
        url('./assets/DIN2014-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DIN 2014';
    src: url('./assets/DIN2014-Regular.eot');
    src: local('DIN 2014 Regular'), local('DIN2014-Regular'),
        url('./assets/DIN2014-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/DIN2014-Regular.woff') format('woff'),
        url('./assets/DIN2014-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
