.header {
  background-color: var(--dark-primary-color);
  padding: 4rem 0;
}

.header .wrapper {
  width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0; /* empty lines selection correction */
}

.header nav {
  display: flex;
  align-items: center;
}

.header a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 .75rem;
  box-shadow: none !important;
}

.header .logo {
  background: url('./assets/Logo_moeco.svg') center/contain no-repeat;
  width: 15rem;
  height: 3rem;
  margin: 0;
}

.header .button {
  border: 1px solid;
  border-radius: .5rem;
  height: 4rem;
  width: 22rem;
  line-height: 4rem;
  text-align: center;
  margin: 0 0 0 3rem;
}

@media (max-width: 1200px) {
  .header .wrapper {
    width: 90rem;
  }

  .header .button {
    width: 12rem;
    height: auto;
    line-height: 1;
    padding: 1rem;
    box-sizing: border-box;
  }

  .header a {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .header {
    background-color: var(--darker-primary-color);
  }

  .header .wrapper {
    width: initial;
    justify-content: center;
  }

  .header nav {
    display: none;
  }
}
