<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">

    <title>MOECO</title>
  </head>
  <body>
    <header class="header">
      <div class="wrapper">
        <a href="#" class="logo"></a>
        <nav>
          <a href="#dns">Crowdsourced DNS</a>
          <a href="#platform">Platform Structure</a>
          <a href="#roles">Roles</a>
          <a href="#fixing">Fixing IoT</a>
          <a href="#tokens">Moe Tokens</a>
          <a href="#allocation">Toke Allocation</a>
          <a href="#roadmap">Roadmap</a>
          <a href="#" class="button">Learn more about product</a>
        </nav>
      </div>
    </header>

    <section class="intro">
      <h1>Blockchain-Powered IoT</h1>
      <p>Subscribe for white list access</p>

      <form class="form">
        <input name="email" placeholder="youremail@example.com">
        <button>Subscribe</button>
      </form>
    </section>

    <section class="section wrapper dns">
      <h2 id="dns">A Crowdsourced DNS of Things</h2>
      <p>Moeco is built to become a DNS of things — a platform integrating various connectivity standards and connecting billions&nbsp;of&nbsp;devices across the globe. Moeco uses crowdsourcing to gain coverage and help businesses effortlessly&nbsp;adopt&nbsp;IoT&nbsp;technology in a most cost-effective way.</p>

      <div class="item-wrapper">
        <div class="item network">
          <h3>Crowdsourced Network</h3>
          <p>Moeco brings together existing networks and private gateway owners by crowdsourcing its infrastructure — data from the sensors can be transferred using any smartphoneor compa- tible gateway (even home-based).</p>
        </div>

        <div class="item access">
          <h3>Permissionless Access</h3>
          <p>The platform allows users to collect and trans- fer any type of data from any sensor anywhere in the world. Adding a new sensor is easy and permissionless — just add its ID using a website.</p>
        </div>

        <div class="item motivation">
          <h3>Motivation Tool</h3>
          <p>The platform takes care of payment and billing processes, and ensures exact data delivery. Businesses owning sensors pay for connectivity and the gateway owners receive money for each connection made through their gateway.</p>
        </div>
      </div>

      <a href="#" class="button">Download whitepaper</a>
    </section>

    <section class="section platform">
      <div class="wrapper">
        <h2 id="platform">Platform Structure</h2>
        <%= require('!svg-inline-loader?classPrefix!./assets/platform.svg') %>
        <%= require('!svg-inline-loader?classPrefix!./assets/platform_mobile.svg') %>
      </div>
    </section>

    <section class="section roles">
      <div class="wrapper">
        <h2 id="roles">Roles</h2>
        <p>Moeco makes the community its IoT infrastructure. All of the user types operate within&nbsp;the&nbsp;blockchain-based platform.</p>

        <div class="item-wrapper">
          <div class="item manufacture right">
            <h3>Device Manufacturer</h3>
            <p>With Moeco device manufacturers can easily become global service pro- viders. Your IoT devices will work anywhere without limitations or the need to for complicated contracts with carriers.</p>
          </div>

          <div class="item miner left">
            <h3>Gate Owner</h3>
            <p>Anyone can provide IoT connectivity and earn money with a Moeco gateway! Just set up our open-source LoRa WAN compatible gateway, or even install our app on your Bluetooth LE-enabled smartphone and start making money right away! Anyone can provide IoT connectivity and profit with a Moeco gate- way. You’ll get a share of transactions for each connection made through your gateway. There are two types of gateways: Dedicated Moeco LoRaWAN gateways forLoRa-compatible devices. Moeco smartphone gateway application for Moeco-enabled Bluetooth LE sensors.</p>
          </div>

          <div class="item user right">
            <h3>User</h3>
            <p>Global coverage for your IoT devices at cut-throat rates? No problem! Our systems are ready to handle both private and business applications. Anywhere, be it a smart home, smart production line or a smart city. All data is end-to-end encrypted, in compliance with industrial standards.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section fixing">
      <div class="wrapper">
        <h2 id="fixing">Fixing IoT One Transaction at a Time</h2>
        <p>Moeco is set to become the DNS of things. By leveraging the benefits of a multiple blockchain system Moeco makes per-transaction fees possible with MOE tokens.</p>
        <p>Become an internet provider for things. Share your traffic with IoT devices & get tokens.</p>
      </div>
    </section>

    <section class="section tokens">
      <div class="wrapper">
        <h2 id="tokens">Moe Tokens</h2>
        <p>Our token economy is based on the turnover of MOE tokens between consumers of connectivity (devices owned by users) and providers (gateways owned by users).</p>

        <div class="item-wrapper">
          <p class="item moe1">Tokens provide a native payment solution for connections. They make per-transaction fees possible.</p>
          <p class="item moe2">Moe tokens represent the sum total of connection. As the number of con- nections grows, so does the token value.</p>
          <p class="item moe3">Tokens are infinitely divisible, accom- modating network growth and expansion along the product development cycle.</p>
        </div>
      </div>
    </section>

    <section class="section allocation">
      <div class="wrapper">
        <h2 id="allocation">Token Allocation</h2>
        <%= require('!svg-inline-loader?classPrefix!./assets/allocation.svg') %>
        <%= require('!svg-inline-loader?classPrefix!./assets/allocation_mobile.svg') %>
      </div>
    </section>

    <section class="section roadmap">
      <div class="wrapper">
        <h2 id="roadmap">Roadmap</h2>
        <%= require('!svg-inline-loader?classPrefix!./assets/roadmap.svg') %>
        <%= require('!svg-inline-loader?classPrefix!./assets/roadmap_mobile.svg') %>
      </div>
    </section>

    <section class="join">
      <div class="wrapper">
        <h2>Join Moeco</h2>
        <p>Leave an email to be notified when private sale begins form</p>

        <form class="form">
          <input name="email" placeholder="youremail@example.com">
          <button>Subscribe</button>
        </form>
      </div>
    </section>

    <footer class="footer">
      <div class="wrapper">
        <span>Moeco © 2018. All rights reserved</span>

        <div class="about-wrapper">
          <a href="#" class="whitepaper">Whitepaper</a>
          <a href="#" class="about">About us</a>
        </div>

        <div class="follow-wrapper">
          <span class="follow">Follow us</span>

          <a href="#" class="icon facebook"></a>
          <a href="#" class="icon twitter"></a>
          <a href="#" class="icon reddit"></a>
          <a href="#" class="icon telegram"></a>
        </div>
      </div>
    </footer>
  </body>
</html>
