.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 8rem;
}

.section h2 {
  color: var(--primary-color);
  font-size: 4rem;
  margin: 0 0 2rem;
  text-align: center;
}

.section h3 {
  color: var(--primary-color);
  font-size: 2.2rem;
  margin: 0 0 2rem;
}

.section p {
  font-size: 1.8rem;
  margin: 0;
}

/* dns */
.dns {
  padding-top: 10rem;
}

.dns > p {
  width: 94rem; /* i hate myself because use this magic number */
  text-align: center;
  margin-bottom: 2rem;
}

.dns .item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dns .item {
  width: 36rem;
  padding-top: 22rem;
  background: top center/22rem 22rem no-repeat;
}

.dns .item h3 {
  text-align: center;
}

.dns .item.network {
  background-image: url('./assets/Pic_network.svg');
}

.dns .item.access {
  background-image: url('./assets/Pic_access.svg');
}

.dns .item.motivation {
  background-image: url('./assets/Pic_motivation.svg');
}

.dns .button {
  width: 22rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: var(--button-background-color);
  text-decoration: none;
  margin-top: 5rem;
  border-radius: .5rem;
}

/* platform */
.platform {
  background-color: #D0D3E614;
}

.platform h2 {
  margin-bottom: 5rem;
}

/* roles */
.roles .wrapper > p {
  width: 70rem; /* again? */
  text-align: center;
  margin: 0 auto 2rem;
}

.roles .item-wrapper {
  /*display: flex;*/
  /*width: 110rem;*/
}

.roles .item {
  background-repeat: no-repeat;
  background-size: 50rem 37rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 37rem;
}

.roles .item.right {
  background-position: center left;
  padding-left: 55%;
}

.roles .item.left {
  background-position: center right -5rem;
  padding-right: 50%;
}

.roles .item.manufacture {
  background-image: url('./assets/Manufacturer.svg');
}

.roles .item.miner {
  background-image: url('./assets/Miner.svg');
}

.roles .item.user {
  background-image: url('./assets/User.svg');
}

/* fixing */
.fixing {
  background-color: var(--primary-color);
  padding: 0;

  overflow: hidden; /* prevent .wrapper:after scroll bug */
}

.fixing .wrapper {
  height: 52rem;
  padding-right: 50rem;
  color: #fff;
  justify-content: center;
  padding-top: 7rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.fixing .wrapper:after {
  content: '';
  background: url('./assets/Pic_fixing_iot.svg') center center/contain no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  margin-left: 30rem;
}

.fixing h2 {
  color: #fff;
  text-align: left;
}

.fixing p + p {
  margin-top: 2rem;
}

/* tokens */
.tokens {
  background: #D0D3E614;
}

.tokens .wrapper > p {
  width: 94rem; /* again? */
  text-align: center;
  margin: 0 auto 5rem;
}

.tokens .item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tokens .item {
  width: 34rem;
  padding: 27rem 2rem 3.5rem;
  background: #fff top 4.5rem center/19rem 19rem no-repeat;
  box-sizing: border-box;
  border: 1px solid #D0D3E6;
  border-radius: .5rem;
  text-align: center;

}

.tokens .item.moe1 {
  background-image: url('./assets/icon_moe_1.svg');
}

.tokens .item.moe2 {
  background-image: url('./assets/icon_moe_2.svg');
}

.tokens .item.moe3 {
  background-image: url('./assets/icon_moe_3.svg');
}

/* allocation */
.allocation h2 {
  margin-bottom: 5rem;
}

.allocation.wrapper {
  width: 110rem;
}

/* roadmap */
.roadmap h2 {
  margin-bottom: 5rem;
}

.roadmap.wrapper {
  width: 110rem;
}

/* join */
.join .wrapper {
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join h2 {
  color: var(--primary-color);
  font-size: 5.5rem;
  margin: 0 0 4rem;
}

.join p {
  margin: 0 0 5rem;
  font-size: 2rem;
}

@media (max-width: 1900px) {
  .fixing .wrapper {
    padding-right: 40rem;
  }
}

@media (max-width: 1200px) {
  .section {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  .section h2 {
    font-size: 3rem;
  }

  .section h3 {
    font-size: 1.9rem;
  }

  .section p {
    font-size: 1.5rem;
  }


  .dns > p {
    width: 74rem;
  }

  .dns .item {
    width: 28rem;
  }

  .fixing .wrapper {
    padding-right: 30rem;
  }

  .tokens .wrapper > p {
    width: 64rem;
  }

  .tokens .item {
    width: 28rem;
  }
}

@media (max-width: 900px) {
  .section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .section h2 {
    font-size: 2.2rem;
  }

  .section h3 {
    font-size: 1.7rem;
  }

  .section p {
    font-size: 1.5rem;
  }

  .dns .item-wrapper {
    flex-direction: column;
  }

  .dns .item {
    width: 100%;
  }

  .dns > p {
    width: initial;
  }

  .roles .item.right,
  .roles .item.left {
    padding: 16rem 0 0;
    background-position: center top;
    background-size: 30rem 16rem;
    height: initial;
    margin-bottom: 3rem;
  }

  .roles h3 {
    text-align: center;
  }

  .roles .wrapper > p {
    width: initial;
  }

  .fixing .wrapper {
    padding-right: 0;
    height: initial;
    padding-top: 20rem;
  }

  .fixing .wrapper:after {
    margin: 0;
    background-position: top center;
  }

  .fixing h2 {
    text-align: center;
  }

  .tokens .wrapper > p {
    width: initial;
  }

  .tokens .item-wrapper {
    flex-direction: column;
  }

  .tokens .item {
    margin-bottom: 2rem;
  }

  .join h2 {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .join p {
    font-size: 1.5rem;
    text-align: center;
  }
}
